{% extends 'base.html' %}
{% block title %}
college

{% endblock title %}

{% block body %}
<div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Aditya Bahuuddeshiya Education Society's, Aditya Engineering College
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Government College of Engineering
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gromodyogik Shikshan Mandal's Marathwada Institute of Technology
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jawaharlal Nehru College of Engineering
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lokvikas Education and Charitable Trust's, Savitribai Phule Women's Engineering College
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Maharashtra Academy of Engineering and Educational Research
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mahatma Basweshwar Education Society's College of Engineering
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Matsyodari Shikshan Sanstha's, College of Engineering And Technology
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nagnathappa Halge Engineering College
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">P.E.S. College of Engineering, Nagsenvana
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Shreeyash Pratishthan's, Shreeyash College of Engineering and Technology
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/400x300/?campus" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tuljabhavani College of Engineering
      </h5>
      <p class="card-text">Maharashtra</p>
      <a href="#" class="btn btn-primary">details</a>
    </div>
  </div>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">E-Mail</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Social Media</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Phone</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Thank You!!!</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
  </div>
{% endblock body %}